{
    "presets": [
      "@babel/preset-env",   // Transpiles modern JavaScript to compatible versions
      "@babel/preset-react"  // Transpiles JSX and other React-specific syntax
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties", // Enables class properties syntax
      "@babel/plugin-transform-runtime" // Optimizes code by reusing Babel's helper functions
    ]
  }
  
